<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        Menu
      </a>
      <a class="brand" href="/dashboard">SampleApp</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
	  <!-- タブ [HOME] -->
          <li class="<%= active_tab('home') %>"><%= link_to icon_and_t("icon-home", t(:home, scope: :'myinfo.menu')), dashboard_path -%></li>

	  <!-- タブ [画像] -->
          <li class="<%= active_tab('pictures') %>"><%= link_to t(:pictures, scope: :'myinfo.menu'), pictures_path -%></li>
	  
          <%- if current_user && current_user.role_access?(User.user_role) %>
	    <!-- タブ [メッセージ] -->
            <li class="<%= active_tab('messages') %>"><%= link_to icon_and_t("icon-envelope", t(:messages, scope: :'myinfo.menu')), messages_path -%></li>
	  <%- end %>
	  <!-- タブ [情報] -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= icon_and_t("icon-info-sign", t(:profile, scope: :'myinfo.menu')) -%><b class="caret"></b></a>
            <ul class="dropdown-menu">
	      <li><a href="#"><%= t(:details, scope: :'myinfo.menu') -%></a></li>
	      <li><a href="#"><%= t(:licensing, scope: :'myinfo.menu') -%></a></li>
	      <li class="divider"></li>
	      <li><a href="#"><%= t(:education, scope: :'myinfo.menu') -%></a></li>
            </ul>
          </li>

          <%- if current_user && current_user.role_access?(User.manager_role) %>
	    <!-- タブ [アドミン] -->
            <li class="<%= active_tab('admin') %>"><%= link_to icon_and_t("icon-user", t(:admin, scope: :'myinfo.menu')), admin_path -%></li>
          <%- end %>
	  
	  <!-- タブ [ヘルプ] -->
          <li class="<%= active_tab('help') %>"><%= link_to icon_and_t("icon-question-sign", t(:help, scope: :'myinfo.menu')), help_path -%></li>

	  <li>
	    <form class="navbar-search">
	      <input type="text" class="search-query" placeholder="Search">
	      <div class="icon-search"></div>
	    </form>
	  </li>

        </ul>
	
        <ul class="nav pull-right">
          <li>
            <p class="navbar-text">
              <% if user_signed_in? -%>
              <%= link_to image_tag(avatar_url(current_user), :size => "25x25"), fb_edit_user_path, :remote => true %>
              &nbsp;
              <%= link_to current_user.username, fb_edit_user_path, :remote => true %>&nbsp;|&nbsp; 
              <%= link_to t(:logout, scope: :'myinfo.menu'), destroy_user_session_path, :method=>'delete' %> 
              <% else -%>
              <%= link_to image_tag("sign-in-with-twitter-gray-20.png"), user_omniauth_authorize_path(:twitter) %>
              &nbsp;&nbsp;
              <%= link_to t(:login, scope: :'myinfo.menu'), fb_login_path, :remote => true %>&nbsp;|&nbsp;
              <%= link_to t(:sign_up, scope: :'myinfo.menu'), fb_create_user_path, :remote => true %>
              <% end -%>
            </p>
          </li>
        </ul>      
      </div>
    </div>
  </div>
</div>
