<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", root_path, id: "logo" %>
      <nav>
	<ul class="nav pull-right">
	  <li><%= link_to "Home",    root_path %></li>
	  <li><%= link_to "list",    pictures_list_path %></li>
	  <li><%= link_to "Help",    '' %></li>
	  <li><%= link_to("logout", destroy_user_session_path, method: :delete) if user_signed_in? %></li>
	</ul>
      </nav>
    </div>
  </div>
</header>
